
bin/
obj/
out/

.env 

.idea/
*.sublime-workspace
*.sublime-project

*.user
*.userosscache
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

.idea/
*.iml

.vscode/

*.nupkg
packages/
.nuget/

*.log

.DS_Store
Thumbs.db

appsettings.Development.json
*.pfx
*.cer
*.key

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

.idea/**/usage.statistics.xml
.idea/**/gradle.xml
.idea/**/modules.xml
